In [25]:
import pandas as pd

csv_data = pd.read_csv('data/Advertising.csv', usecols=[1,2,3,4])

csv_data[:2]

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4

### convert a list of dictonary to dataframe

In [26]:
list1 = [{'TV': 230.1, 'Radio': 37.8, 'Newspaper': 69.2, 'Sales': 22.1},
         {'TV': 44.5 , 'Radio': 39.3, 'Newspaper': 45.1, 'Sales': 10.4},
        ]
print(list1)
list_data = pd.DataFrame(list1)
list_data

[{'TV': 230.1, 'Radio': 37.8, 'Newspaper': 69.2, 'Sales': 22.1}, {'TV': 44.5, 'Radio': 39.3, 'Newspaper': 45.1, 'Sales': 10.4}]

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4

### convert a dictonary of list to dataframe

In [27]:
dict1 = {'TV': [230.1, 37.8],
         'Radio': [37.8, 39.3],
         'Newspaper': [69.2, 45.1],
         'Sales': [22.1, 10.4],
        }

print(dict1)
dict_data = pd.DataFrame(dict1)
dict_data

{'TV': [230.1, 37.8], 'Radio': [37.8, 39.3], 'Newspaper': [69.2, 45.1], 'Sales': [22.1, 10.4]}

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   37.8   39.3       45.1   10.4